<% content_for :head do %>
  <title><%= @user.name %> - Let's use</title>
  <meta name="description" content="<%= @user.name %>のモノページ。
    <%= @user.name %>の欲しいモノや持っているモノの一覧を表示しています。">
<% end %>

<%= cell(:users).(:show , user: @user) %>

<%= link_to "MessageBoard", user_message_boards_path(user_id: @user.id) %>