<% content_for :head do %>
  <title><%= @item.title %> - Let's use</title>
  <meta name="description" content= "<%= @item.title %>のページ。
    この商品が欲しい人やすでに持っている人を表示しています。
    また、アマゾンの商品ページへのリンクも設置しています。" >
<% end %>

<%= cell(:items).(:detail , item: @item) %>

<%= cell(:message_boards).(:list , message_boards: @message_boards) %>

<%= render 'message_boards/post_message_board', { item: @item , message_board: @message_board } %>