<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            投稿一覧
        </div>
        <div class="panel-body">
            投稿者、内容、編集ボタン、削除ボタンを表示します。
        </div>
        <div class="table-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>投稿者</th>
                        <th>内容</th>
                        <th>編集ボタン</th>
                        <th>削除ボタン</th>
                    </tr>
                </thead>
                <tbody>
                    <% @messages.each do |message| %>
                      <tr>
                          <td><%= message.id %></td>
                          <td><%= message.user.name %></td>
                          <td><%= message.content %></td>
                          <td><%= link_to "edit", '#', class: "btn btn-sm btn-warning" %></td>
                          <td><%= link_to "delete", '#', class: "btn btn-sm btn-danger" %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>