<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            投稿一覧
        </div>
        <div class="panel-body">
            投稿者、内容、編集ボタン、削除ボタンを表示します。
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>投稿者</th>
                    <th>内容</th>
                    <th>編集ボタン</th>
                    <th>削除ボタン</th>
                </tr>
            </thead>
            <tbody>
                <% @messages.each do |message| %>
                  <tr>
                      <th><%= message.id %></th>
                      <th><%= message.user.name %></th>
                      <th><%= message.content %></th>
                      <th><%= link_to "edit", '#', class: "btn btn-sm btn-warning" %></th>
                      <th><%= link_to "delete", '#', class: "btn btn-sm btn-danger" %></th>
                  </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>